/* SCREEN WIDTH: DESKTOPS/TVS */

.nav-ctnr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-ctnr.collapsed {
    .menu-button {
        width: 65%;
        padding: 1rem;
    }
    .menu-button-content {
        flex-direction: column;
        justify-content: center;
        gap: .25rem;
        
        h2 { font-size: 1.25rem; }
        img { margin-right: 0; }
    }
    .collapse-btn img { 
        transform: rotate(180deg); 
        transition: transform 0.2s ease-in-out;
    }
}

.menu-button {
    background: var(--button-color);
    color: var(--secondary-color);
    font-family: "Poppins-Regular";
    cursor: pointer;
    margin: 1rem 0;
    padding: 1.5rem 3rem;
    width: 80%;
    border-radius: 2rem;
    border: none;
}
.menu-button:hover { 
    background: var(--button-hvr-color); 
    .menu-button-content img { opacity: 1; }
    .menu-button-content h2 { opacity: 1; }
}
.menu-button.active-link, .menu-button:active {
    .menu-button-content img { opacity: 1; }
    .menu-button-content h2 { opacity: 1; }
}

.menu-button-content {
    display: flex;
    align-items: center;
    opacity: 0.8;

    img {
        width: 25px;
        height: 25px;
        margin-right: 2rem;
        opacity: 0.75;
    }
    h2 { 
        margin: 0; 
        opacity: 0.75;
    }
}

.bottom-nav-ctnr {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;    
    align-items: center;
    font-size: 1.5rem;
}
.collapse-btn {
    background: var(--button-color);
    border: none;
    border-radius: 1rem;
    padding: .75rem 1rem .5rem 1rem;
    margin-bottom: 2rem;
    cursor: pointer;

    img {
        width: 25px;
        height: 25px;
        opacity: .5;
        transition: transform 0.2s ease-in-out;
    }
}
.collapse-btn:hover { background: var(--button-hvr-color); }





/* SCREEN WIDTH: LAPTOPS */
@media (max-width: 1200px) {    
    .menu-button { width: fit-content; }
    .menu-button-content img { margin: 0; }
    .bottom-nav-ctnr { display: none; } /* hides nav toggle */
}





/* SCREEN WIDTH: TABLETS */
@media (max-width: 800px) {     
    .nav-ctnr { flex-direction: row; }

    .menu-button {
        background: none;
        margin: 0 0.75rem;
        padding: 0; 
        width: 100%;
    }
    .menu-button:hover { 
        background: none; 
        .menu-button-content img { opacity: 0.75; }
        .menu-button-content h2 { opacity: 0.75; }
    }
    .menu-button-content {
        flex-direction: column;
        padding: 1rem 0;

        img {
            padding: 0;
            margin-right: 0;
            opacity: 0.5;
        }
        h2 {
            display: block;
            font-size: 1.25rem;
            opacity: 0.5;
        }
    }
}





/* SCREEN WIDTH: MOBILE */
@media (max-width: 500px) {}