/* FONTS */
/* ------------------------------ */
@font-face {
    font-family: "Poppins-Regular";
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-Medium";
    src: url(assets/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(assets/fonts/Poppins/Poppins-Bold.ttf);
}

/* LINK DECORATION */
/* ------------------------------ */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: var(--secondary-color);
}

/* COLOR VARS */
/* ------------------------------ */
/* Glass */
:root {
    --primary-color: rgb(255,255,255);
    --secondary-color: rgb(0,0,0);
    --accent-color: rgb(96, 81, 254);
    --window-color: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3));
    --settings-window-color: linear-gradient(to right bottom, rgba(255,255,255, 1), rgba(255,255,255, 0.9));
    --nav-color: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    --button-color: linear-gradient(to left top, rgba(255,255,255,0.4), rgba(255,255,255,1.0));
    --button-hvr-color: linear-gradient(to left top, rgba(255,255,255,0.0), rgba(255,255,255,1));
    --button-hvr-shadow: 0 0 2rem rgba(96, 81, 254, 0.25);
    --infocard-color: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    --resume-card-skills: linear-gradient(to top, rgba(255,255,255, 0.5), rgba(255,255,255, 0.4),rgba(255,255,255, 0));
    --mobile-nav-color: linear-gradient(to right bottom, rgba(255,255,255, 0.5), rgba(255,255,255, 0.3));
    --mobile-infocard-color: rgba(255,255,255, 0.6);
    --mobile-button-color: linear-gradient(to right bottom, rgba(255,255,255, 0.6), rgba(255,255,255, 0.5));
    --mobile-button-hvr-color: linear-gradient(to right bottom, rgba(255,255,255, 0.7),rgba(255,255,255, 0.6));
}
.root-dark {
    --primary-color: rgb(0,0,0);
    --secondary-color: rgb(255,255,255);
    --accent-color: rgb(96, 81, 254);
    --window-color: linear-gradient(to right bottom, rgba(0,0,0, 0.7), rgba(0,0,0, 0.6));
    --settings-window-color: linear-gradient(to right bottom, rgba(0,0,0, 1), rgba(0,0,0, 0.9));
    --nav-color: linear-gradient(to right bottom, rgba(0,0,0, 0.7), rgba(0,0,0, 0.5));
    --button-color: linear-gradient(to left top, rgba(0,0,0, 0.6), rgba(0,0,0, 1.0));
    --button-hvr-color: linear-gradient(to left top, rgba(0,0,0, 0.0), rgba(0,0,0, 1));
    --button-hvr-shadow: 0 0 2rem rgba(96, 81, 254, 0.25);
    --infocard-color: linear-gradient(to right bottom, rgba(0,0,0, 0.7), rgba(0,0,0, 0.5));
    --resume-card-skills: linear-gradient(to top, rgba(0,0,0, 0.5), rgba(0,0,0, 0.4),rgba(0,0,0, 0));
    --mobile-nav-color: linear-gradient(to right bottom, rgba(0,0,0, 0.7), rgba(0,0,0, 0.5));
    --mobile-infocard-color: rgba(0,0,0, 0.7);
    --mobile-button-color: linear-gradient(to right bottom, rgba(0,0,0, 0.5), rgba(0,0,0, 0.4));
    --mobile-button-hvr-color: linear-gradient(to right bottom, rgba(0,0,0, 0.6), rgba(0,0,0, 0.5));
}

/* Minimal */
.minimal-light {
    --primary-color: rgb(255,255,255);
    --secondary-color: rgb(0,0,0);
    --accent-color: rgb(96, 81, 254);
    --window-color: rgb(230, 230, 230);
    --settings-window-color: white;
    --nav-color: white;
    --button-color: rgb(238, 240, 243);
    --button-hvr-color: rgb(225, 228, 233);
    --button-hvr-shadow: 0 0 2rem rgba(96, 81, 254, 0.5);
    --infocard-color: white;
    --resume-card-skills: linear-gradient(to top, rgb(225, 228, 233), rgba(255,255,255, 0));
    --mobile-nav-color: linear-gradient(to right bottom, rgba(255,255,255, 0.5), rgba(255,255,255, 0.3));
    --mobile-infocard-color: white;
    --mobile-button-color: rgb(238, 240, 243);
    --mobile-button-hvr-color: rgb(225, 228, 233);
}
.minimal-dark {
    --primary-color: rgb(0,0,0);
    --secondary-color: rgb(255,255,255);
    --accent-color: rgb(96, 81, 254);
    --window-color: #1a1a1a;
    --settings-window-color: black;
    --nav-color: #0f0f0f;
    --button-color: #252525;
    --button-hvr-color: linear-gradient(to left top, rgba(0,0,0, 0.0), rgba(0,0,0, 1));
    --button-hvr-shadow: 0 0 2rem rgba(96, 81, 254, 0.25);
    --infocard-color: #0f0f0f;
    --resume-card-skills: linear-gradient(to top, rgb(30, 30, 30), rgba(0,0,0, 0));
    --mobile-nav-color: linear-gradient(to right bottom, rgba(0,0,0, 0.7), rgba(0,0,0, 0.5));
    --mobile-infocard-color: #0f0f0f;
    --mobile-button-color: #252525;
    --mobile-button-hvr-color: #202020;
}

.filter-white { filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(350deg) brightness(107%) contrast(102%); }
.filter-accent { filter: invert(26%) sepia(94%) saturate(2660%) hue-rotate(238deg) brightness(103%) contrast(99%); }

/* ANIMATIONS */
/* ------------------------------ */
/* Scroll animations */
.scroll-hidden {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-25%);

    transition: opacity 1s, filter 1s, transform 1s;
}
.scroll-show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .scroll-hidden { transition: none; }
}

/* Other animations */
.rotate { transform: rotate(180deg); transition: transform 0.2s ease; }

@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes openSettings {
    0% { 
        opacity: 0; 
        translate: 20rem 0;
    }
    100% { 
        opacity: 1;
        translate: 0;
    }
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes openResumeCard {
    0% { 
        opacity: 0; 
        translate: 0 -15rem;
    }
    100% { 
        opacity: 1;
        translate: 0 -4rem;
    }
}
/* ------------------------------ */

/* MAIN COMPONENTS */
/* ------------------------------ */
html {
    background-color: var(--accent-color);
    font-family: "Poppins-Regular";
    font-size: 62.5%; /* sets base font size to 10px (easy to use rem sizing) */
}
.bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}
.alert-ctnr {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 5;
}
.copy-message { 
    position: fixed;
    z-index: 5;
    top: -100%;
    transition: top 0.3s;
    padding: .5rem 3rem;
    background-color: black;
    color: white;
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 2rem;

    img { max-width: 2rem; margin-left: 1rem; }
}
.copy-message.active { top: 1rem; }
#tooltip {
    display: none;
    position: absolute;
    z-index: 1000;
    background: #242424;
    color: #fff;
    border-radius: .5rem;
    margin-left: 2.5rem;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    margin-bottom: 10rem;
}
.dynamic-window {
    background: var(--window-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0; 
    display: flex;
    overflow: hidden;
}
.display-right {
    flex: 4; /* ratio to nav bar (1:4) */
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
    overflow-y: auto;
    -ms-overflow-style: none;  /* hides scroll in IE and Edge */
    scrollbar-width: none;  /* hides scroll in Firefox */

    /* fade animation */
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
/* hides scrollbar but keeps function for Chrome, Safari, Opera */
.display-right::-webkit-scrollbar { display: none; } 

.display-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-family: "Poppins-Regular";
    margin-bottom: 5rem;
}
.info-card {
    background: var(--infocard-color);
    width: 80%;
    border-radius: 2rem;
    padding: 2rem 4rem;
    margin: 1rem;

    p {
        margin: 0 0 1.5rem 0;
        font-size: 2rem;
    }
    .info-card-label {
        opacity: 0.6;
        margin: 1.5rem 0 1rem 0;
        font-size: 1.75rem;
    }
}
.title-card {
    display: flex;
    align-items: center;
    background: var(--infocard-color);
    width: 80%;
    margin: 4rem 0 1rem 0;
    padding: 2rem 4rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}
.title-card-left {  /*for non-index title cards*/
    flex: 2;
    display: flex;
    align-items: center;

    img {
        max-width: 13rem;
        border-radius: 20rem;
        box-shadow: .5rem .5rem 2rem rgba(122, 122, 122, .2);
    }
    h1 { 
        font-family: "Poppins-Bold";
        font-size: 4rem;
        opacity: 0.9;
        margin: 0;
    }
}


/* NAV BAR */
/* ------------------------------ */
.nav-menu {
    background: var(--nav-color);
    flex: 1; /* ratio to display right (1:4) */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    min-width: 10rem;
    min-height: 8rem;
    border-radius: 0 2rem 2rem 0;
    padding-top: 3rem;
    position: relative;
    transition: flex 0.2s ease;
}
.nav-menu.collapsed {
    flex: 0.25 !important;
    transition: flex 0.2s ease;

    .menu-button, .theme-button { width: 50%; }
    .menu-button-content { justify-content: center; }
    .menu-button-content h2 { display: none; }
    .menu-button-content img { margin-right: 0; }
    .collapse-btn img { 
        transform: rotate(180deg); 
        transition: transform 0.2s ease-in-out;
    }
}
.menu-button {
    background: var(--button-color);
    color: var(--secondary-color);
    font-family: "Poppins-Regular";
    cursor: pointer;
    margin: 1rem 0;
    padding: 1.5rem 3rem;
    width: 80%;
    border-radius: 2rem;
    border: none;
}
.menu-button:hover { 
    background: var(--button-hvr-color); 

    .menu-button-content img { opacity: 1; }
    .menu-button-content h2 { opacity: 1; }
}
.menu-button-content {
    display: flex;
    align-items: center;
    opacity: 0.8;

    img {
        max-width: 25px;
        max-height: 25px;
        margin-right: 2rem;
        opacity: 0.75;
    }
    h2 { 
        margin: 0; 
        opacity: 0.75;
    }
}
#active-nav {
    color: var(--secondary-color);
    .menu-button-content img { opacity: 1; }
    .menu-button-content h2 { opacity: 1; }
}
#theme-text { white-space: nowrap; }
.bottom-nav-ctnr {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;    
    align-items: center;
    font-size: 1.5rem;
}
.collapse-btn {
    background: var(--button-color);
    border: none;
    border-radius: 1rem;
    padding: .75rem 1rem .5rem 1rem;
    margin-bottom: 2rem;
    cursor: pointer;

    img {
        max-width: 25px;
        max-height: 25px;
        opacity: .5;
        transition: transform 0.2s ease-in-out;
    }
}
.collapse-btn:hover { background: var(--button-hvr-color); }

.settings-window {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 35rem;
    height: 100%;
    background: var(--settings-window-color);
    color: var(--secondary-color);
    padding: 2rem 4rem;
    z-index: 3;
    animation: openSettings 0.5s;

    h1 { 
        font-size: 2.5rem; 
        margin: 0;
    }
    p { 
        font-size: 1.75rem; 
        margin: 0;
        margin-bottom: .25rem;
        opacity: .8;
    }
}
.settings-content { width: 100%; }
.settings-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid var(--secondary-color);
    border-radius: 50rem;
    padding: 0 1rem;
    cursor: pointer;
}
.setting-ctnr { 
    margin: 3rem 0; 

    button {
        display: flex;
        align-items: center;
        background: var(--primary-color);
        color: var(--secondary-color);
        text-align: left;
        width: 100%;
        padding: 1rem 1.5rem;
        border: 1px solid grey;
        border-radius: 1rem;
        font-size: 1.75rem;
        font-family: "Poppins-Regular";
        cursor: pointer;

        img { 
            max-width: 2.25rem; 
            max-height: 2.25rem; 
            margin-right: 1rem;
            opacity: .8;
        }
    }
    select {
        background: var(--primary-color);
        color: var(--secondary-color);
        width: 100%;
        padding: 1rem 1.5rem;
        border: 1px solid grey;
        border-radius: 1rem;
        outline: none;
        font-size: 1.75rem;
        font-family: "Poppins-Regular";
        cursor: pointer;
        -webkit-appearance: none;   /* fixes dropdown stying on iOS */
    }
}
.setting-row {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    img { 
        max-width: 2.25rem; 
        max-height: 2.25rem; 
        margin-right: 1rem;
        opacity: .8;
    }
}
.settings-footer {
    margin-bottom: 4rem;
    p { font-size: 1.5rem; }
}




/* "HOME" PAGE */
.index-title-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 4rem;

    /* disable dragging + selecting  */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    h1 {
        font-family: "Poppins-Bold";
        font-size: 4rem;
        opacity: 0.9;
        margin: 0;
    }
    p {
        color: var(--secondary-color);
        opacity: 0.5;
        font-size: 1.75rem;
        font-weight: 600;
        padding: 0;
        margin: 0;
    }
}
.title-card-right {
    flex: 1;
    display: flex;
    justify-content: right;
}
.role {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right bottom, rgb(96, 81, 254), rgb(218, 130, 240));
    background-size: 150% 150%;
    animation: gradient 2.5s ease-in-out infinite;
    color: white;
    font-size: 1.5rem;
    padding: 0;
    border-radius: 1.5rem;
    width: 75%;

    /* disable dragging + selecting  */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.index-contact-btn-ctnr {
    background: var(--infocard-color);
    width: 80%;
    margin: 1rem;
    padding: 2rem 4rem;
    border-radius: 2rem;
}
.contact-row {
    display: flex;
    gap: 1rem;
    width: 100%;
}
.index-contact-btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins-Regular";
    font-size: 2rem;
    background: var(--button-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 2rem;
    padding: 1.5rem 3rem;
    cursor: pointer;

    img {
        max-width: 2.25rem;
        max-height: 2.25rem;
        min-width: 2.25rem;
        min-height: 2.25rem;
        margin: 0;
        opacity: 0.9;
    }
}
.index-contact-btn:hover { 
    box-shadow: var(--button-hvr-shadow); 
    #tooltip { display: block; }
}


/* "RESUME" PAGE */
/* Buttons */
.pdf-btn-ctnr { display: flex; }
.pdf-btn {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom right, #EF4765, #ff79d7);
    border: none;
    border-radius: 1rem;
    margin-left: 1rem;
    padding: 0.75rem 2.5rem;
    transition: box-shadow 0.2s ease;
    cursor: pointer;

    img {
        max-width: 2rem;
        margin-right: 1rem;
        filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(350deg) brightness(107%) contrast(102%);
    }
    p {
        font-family: "Poppins-Medium";
        font-size: 1.75rem;
        color: white;
        margin: 0;
    }
}
.pdf-btn:hover {
    box-shadow: 0 0 1rem rgba(239, 71, 101, 0.75);
    transition: box-shadow 0.2s ease;
}
.pdf-btn:active { box-shadow: none; }

/* Cards */
.resume-card {
    display: flex;
    align-items: center;
    font-family: "Poppins-Regular";
    background: var(--button-color);
    color: var(--secondary-color);
    border-radius: 2rem;
    padding: 2rem 3rem;
    margin: 1.5rem 0;
    cursor: pointer;

    /* disable dragging + selecting  */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    img {
        flex: 1;
        max-width: 10rem;
        max-height: 10rem;
        margin-right: 3rem;
    }
}
.resume-card-text {
    flex: 3;
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0;
        font-size: 2rem;
    }
    p {
        margin: 0;
        font-size: 1.5rem;
        opacity: .75;
    }
}
/* Resume card skills */
.resume-card-skills {
    display: none;
    flex-direction: column;
    translate: 0 -4rem;
    padding: 3rem;
    margin-bottom: -4rem;
    background: var(--resume-card-skills);
    border-radius: 0 0 2rem 2rem;
    opacity: 1;
    animation: openResumeCard 0.5s;

    h3 {
        font-size: 1.5rem;
        margin: 1rem 1rem 1rem 0;
        opacity: 0.8;
    }
    hr {
        color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
        width: 100%;
        opacity: .25;
    }
    .resume-card-description {
        background: none !important;
        color: var(--secondary-color) !important;
        font-size: 1.5rem;
        border: none !important;
    }
}

.rcs {
    display: flex;
    flex-flow: wrap;

    p {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: black;
        padding: .25rem 1.5rem;
        margin: .5rem .5rem .5rem 0;
        border-radius: 2rem;
        scale: 100%;
        cursor: default;
    }
}
.skills-arrow { transition: transform 0.2s ease; }
#skills-fsu p { 
    background: #811d35; 
    border: 1px solid #4b111e;
    color: #fff; 
    opacity: .8;
}
#skills-aitp p {
    background: #ffc559;
    border: 1px solid #d1a148;
}
#skills-stars p {
    background: #82e6ff;
    border: 1px solid #6abed3;
}
#skills-pcg p {
    background: #abee6d;
    border: 1px solid #88bd56;
}
#skills-cot p { 
    background: #0e47a1; 
    border: 1px solid #0a295c;
    color: #fff;
    opacity: .8;
}
#skills-223 p {
    background: #d6d6d6;
    border: 1px solid #9c9c9c;
}
#skills-st p {
    background: #ff94f6;
    border: 1px solid #be70b8;
}
#skills-pub p {
    background: #73e97d;
    border: 1px solid #58b15f;
}

/* Skill cards section */
.skill-card-ctnr {
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
}
.skill-card {
    flex: 1;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    font-family: "Poppins-Regular";
    background: var(--button-color);
    color: var(--secondary-color);
    border-radius: 2rem;
    padding: 1.5rem 3rem;

    /* disable dragging + selecting  */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    h1 {
        margin: 0;
        font-size: 2rem;
    }
    p {
        margin: 0;
        font-size: 1.5rem;
        opacity: .75;
    }
}
.hidden-skill-card { visibility: hidden !important; }
.skill-level {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.skill-bar {
    height: 1rem;
    width: 4rem;
    margin-right: 0.4rem;
}
.filled { background-color: var(--accent-color); }
.filled-pink { background-color: #EF4765; }
.filled-teal { background-color: #47aeeb; }
.empty {
    background-color: var(--secondary-color);
    opacity: 0.25;
}
.course-card-ctnr {
    display: flex;
    flex-flow: wrap;
    padding-bottom: 2rem;
}
.course-card {
    display: flex;
    flex-direction: column;
    font-family: "Poppins-Regular";
    background: var(--button-color);
    color: var(--secondary-color);
    border-radius: 2rem;
    padding: 1.5rem 3rem;
    margin: 1rem .5rem 0;

    /* disable dragging + selecting  */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    h1 {
        margin: 0;
        font-size: 2rem;
    }
    p {
        margin: 0;
        font-size: 1.5rem;
        opacity: .75;
    }
}


/* "PROJECTS" PAGE */
.su-card { color: blue; }
.proj-detail-title { justify-content: left !important; }
.project-detail { 
    padding: 3rem 4rem; 

    h1 { 
        margin: 0; 
        margin-right: 2rem;
        font-size: 2.5rem;
    }
    h2 { 
        margin: 0; 
        font-size: 2rem;
    }
    p {
        opacity: 1;
        font-size: 1.75rem;
        margin-bottom: 0;
    }
}
.proj-detail-head {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.ext-links-row {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
    margin-top: 2rem;

    /* disable dragging + selecting  */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.ext-link {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    background: var(--button-color);
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    cursor: pointer;

    img { 
        max-width: 2.5rem;
        max-height: 2.5rem;
    }
    p { 
        font-size: 1.5rem; 
        margin: 0;
        opacity: 1;
    }
}
.ext-link:hover { box-shadow: 0 0 2rem rgba(96, 81, 254, 0.25); }
.proj-mockup { width: 100%; }
.lang-bar {
    display: flex;
    width: 100%;
    height: 1rem;
    background-color: grey;
    border-radius: 2rem;
}
.languages-ctnr {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    margin: 1.5rem 0;
}
.language {
    display: flex;
    align-items: center;
    margin-right: 2.5rem;

    p { 
        margin: 0; 
        font-size: 1.75rem;
        opacity: 1;
    }
}
.lang-indicator {
    width: 12px;
    height: 12px;
    border-radius: 10rem;
    margin-right: .5rem;
}
.project-card-row {
    display: flex;
    flex-direction: row;
}
.project-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 20rem;
    font-family: "Poppins-Regular";
    border: none;
    border-radius: 1.5rem;
    padding: 2rem 3rem;
    margin: 1rem 1rem;
    overflow: hidden;
    box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;

    h1 {
        margin: 0;
        font-size: 2rem;
        transition: scale .25s;
    }
    p {
        margin: 0;
        font-size: 1.5rem;
        transition: scale .25s;
    }
    img {
        width: 40rem;
        margin-top: 2rem;
        transform: translate(-10rem);
        box-shadow: 0 0 3rem rgba(255, 255, 255, 0.25);
        transition: scale .25s;
    }
}
.project-card:hover {
    h1 { scale: 105%; transition: scale .25s; }
    p { scale: 105%; transition: scale .25s; }
    img { scale: 105%; transition: scale .25s; }
}
.gd-img {
    margin-top: 0 !important;
    transform: translate(20rem, -8rem) !important;
    width: 20rem !important;
}
.proj-card-lw {
    background-color: var(--accent-color);
    color: white;
}
.proj-card-wn {
    background-color: white;
    color: black;
    cursor: not-allowed;
    img { box-shadow: 0 0 3rem rgba(84, 58, 193, 0.35); }
}
.proj-card-iso {
    background-color: rgb(40, 40, 255);
    background-color: white;
    color: black;
    img { box-shadow: 0 0 3rem rgba(40, 40, 255, 0.35); }
}
.proj-card-he {
    background-color: #faf2e1;
    color: #1c1c1c;
    img { box-shadow: 0 0 3rem rgba(255, 193, 99, 0.65); }
}
.proj-card-ic {
    background-color: #fa3768;
    color: white;
    img { box-shadow: 0 0 3rem rgba(255, 255, 255, 0.5); }
}
.proj-sub {
    position: absolute;
    background-color: black;
    color: white;
    opacity: 0.9;
    padding: 1rem;
    border-radius: 1rem;
    right: 5%;
    bottom: 5%;
    z-index: 1;

    /* disable dragging + selecting  */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    h1 { font-size: 1.5rem }
}
.back-btn {
    background: linear-gradient(to bottom right, #EF4765, #ff79d7);
    border: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins-Regular";
    font-size: 1.5rem;
    padding: 1rem 2rem;
    text-align: center;
    transition: box-shadow .1s ease-in-out;
    align-items: center;
}
.back-btn:hover { box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(250, 90, 255, 0.5); }

.info-card a { transition: color 0.2s ease-in-out; }
.info-card a:hover {
    color: var(--accent-color);
    transition: color 0.2s ease-in-out;
}

.proj-info-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--button-color);
    color: var(--secondary-color);
    border-radius: 2rem;
    padding: 2rem 3rem;
    margin: 1rem .5rem;

    p {
        font-size: 1.75rem;
        margin: 0;
    }
    img {
        width: 50%;
        border-radius: 1rem;
    }
}
.proj-img-ctnr {
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

.saf {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 1.5rem;
    gap: 1rem;

    p {
        background: var(--button-color);
        color: var(--secondary-color);
        font-size: 1.75rem;
        border-radius: 1.5rem;
        margin: 0;
        padding: 1rem 2rem;
        opacity: 1; 
    }
}







/* RESPONSIVE DESIGN: LAPTOPS */
/* ---------------------------------------------------------------------- */
@media (max-width: 1200px) {

    /* ALL: LAPTOPS */
    .hide-on-laptop { display: none; }
    .info-card {
        width: 65%;
        font-size: 1.2rem;
        padding: 2rem 4rem;
        margin: 1rem;

        p { font-size: 2rem; }
        .info-card-label { font-size: 1.75rem; }
    }
    .title-card { width: 65%; }
    .title-card-left { 
        img { max-width: 10rem; }
    }

    
    /* "NAV": LAPTOPS */
    .menu-button { width: fit-content; }
    .menu-button-content {
        img { margin: 0; }
        h2 { display: none; }
    }
    .bottom-nav-ctnr { display: none; } /* hides nav toggle */
    .display-right { flex: 8; } /* ratio to nav menu (1:8) */


    /* "SETTINGS": LAPTOPS */
    .settings-window {
        width: 30rem;
        padding: 2rem 4rem;
    
        h1 { font-size: 2.5rem; }
        p { font-size: 1.75rem; }
    }
    .setting-ctnr {
        button { 
            font-size: 1.75rem; 

            img { 
                max-width: 2.25rem; 
                max-height: 2.25rem; 
                margin-right: 1rem;
            }
        }
        select { font-size: 1.75rem; }
    }
    .settings-footer {
        p { font-size: 1.5rem; }
    }


    /* "HOME": LAPTOPS */
    .index-title-card {
        flex-direction: column;
        width: 65%;
    }
    .index-title-text { 
        margin: 0 2rem; 
        h1 { font-size: 4rem; }
        p { font-size: 1.75rem; }
    }
    .role {
        width: 100%;
        padding: 0 4rem;
        margin-top: 2rem;

        p { margin: 1rem; }
    }
    .index-contact-btn-ctnr { width: 65%; }
    .index-contact-btn { font-size: 1.75rem; }
    

    /* "RESUME": LAPTOPS */
    .pdf-btn {
        margin-left: 0;
        padding: 0.75rem 3rem;
    }
    .resume-card-btn-ctnr {
        margin-top: 1rem;
        width: 100%;
        justify-content: right;
    }
    
    .resume-card {
        display: flex;
        font-family: "Poppins-Regular";
        background: var(--button-color);
        color: var(--secondary-color);
        border-radius: 2rem;

        img { 
            max-width: 8rem;
            max-height: 8rem;
            margin-right: 2rem;
        }
    }
    .resume-card-text {
        padding-right: 1.5rem;

        h1 {
            margin: 0;
            font-size: 2rem;
        }
        p {
            margin: 0;
            font-size: 1.5rem;
        }
    }
    .rcs p { font-size: 1.5rem; }
    .hidden-skill-card { display: none; }
    .skill-card,
    .course-card {
        h1 { font-size: 2rem; }
        p { font-size: 1.5rem; }
    }


    /* "PROJECTS": LAPTOPS */
    .project-detail { 
        padding: 3rem 4rem; 

        h1 { font-size: 2.5rem; }
        h2 { font-size: 2rem; }
        p { font-size: 1.75rem; }
    }
    .proj-detail-title { 
        width: 100%;
        justify-content: left !important; 
    }
    .ext-link {
        p { font-size: 1.5rem; }
    }
    .proj-sub h1 { font-size: 1.5rem; }
    .project-card-row {
        display: flex;
        flex-direction: column;
    }
    .project-card {  
        flex-direction: row-reverse;
        align-items: center;
        gap: 10rem;
        margin: 1rem 0;

        .project-card-text { width: 100%; }
        p { font-size: 1.5rem; }
        img {
            width: 15rem;
            margin-top: 0;
            transform: translate(0, 0);
            scale: 175%;
        }
    }
    .gd-img {
        margin-top: 0 !important;
        transform: translate(0) !important;
        width: 20rem !important;
    }
    .proj-card-empty { padding: 0; }
    .proj-info-card { 
        margin: 1rem 0;
        p { font-size: 1.75rem; } 
        img { width: 75%; }
    }
    .saf p { font-size: 1.75rem; }
    .language p { font-size: 1.75rem; }
}










/* RESPONSIVE DESIGN: TABLETS */ 
/* ---------------------------------------------------------------------- */
@media (max-width: 800px) {

    /* "ALL": TABLETS */
    .hide-on-tablet { display: none; }
    .dynamic-window {
        flex-direction: column-reverse;
        border-radius: 0;
        top: 0;
        bottom: 0;
        left: 0; 
        right: 0; 
    }
    .info-card {
        margin: .5rem 0;
        width: 70%;
        background: var(--mobile-infocard-color);

        p { font-size: 1.75rem; }
        .info-card-label { font-size: 1.5rem; }
    }
    .title-card {
        flex-direction: column;
        width: 70%;
        background: var(--mobile-infocard-color);
        margin: 4rem 0 .5rem 0;
    }
    .title-card-left {
        text-align: center; 

        img { max-width: 8rem; }    /*for NON-INDEX title cards*/
        h1 { font-size: 3rem; }
    }


    /* "NAV": TABLETS */
    .nav-menu {
        flex: 1; /* ratio to display window (1:8) */
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: var(--mobile-nav-color);
        border-radius: 2rem 2rem 0 0;
        box-shadow: -20px 0px 30px rgba(100, 100, 100, 0.75);
        padding-top: 0;
    }
    .menu-button {
        background: none;
        margin: 0 0.75rem;
        padding: 0; 
        width: 100%;
    }
    .menu-button:hover,
    .theme-button:hover { 
        background: none; 
        .menu-button-content img { opacity: 0.75; }
        .menu-button-content h2 { opacity: 0.75; }
    }
    .theme-button-ctnr {
        width: 100%;
        min-width: 40px;
        margin: 0 2rem 0 .5rem; /* space btwn btns */
    }
    .theme-button {
        background: none;
        margin: 0 0.75rem;
        padding: 0;
        width: 100%;
    }
    .menu-button-content {
        flex-direction: column;
        padding: 1rem 0;

        img {
            padding: 0;
            margin-right: 0;
            opacity: 0.5;
        }
        h2 {
            display: block;
            font-size: 1.25rem;
            opacity: 0.5;
        }
    }
    

    /* "SETTINGS": TABLETS */
    .settings-window {
        border-radius: 2rem 0 0 2rem;
        height: 95%;
    }
    .setting-ctnr {
        button { 
            font-size: 1.75rem; 

            img { 
                max-width: 2.25rem; 
                max-height: 2.25rem; 
                margin-right: 1rem;
            }
        }
        select { font-size: 1.75rem; }
    }
    .settings-footer {
        margin-bottom: 0;
        p { font-size: 1.5rem; }
    }


    /* "HOME": TABLETS */
    .index-title-text { 
        text-align: left; 

        h1 { font-size: 3rem; }
        p { font-size: 1.75rem; }
    }
    .index-contact-btn-ctnr {
        width: 70%;
        background: var(--mobile-infocard-color);
        margin: .5rem 0;
    }
    .index-contact-btn {
        background: var(--mobile-button-color);
        padding: 1.5rem;
    }
    .index-contact-btn:hover {
        background: var(--mobile-button-hvr-color);
        box-shadow: none; 

        #tooltip { display: none; }
    }


    /* "RESUME": TABLETS */
    .pdf-btn {
        padding: 1rem 3rem;
        
        img { max-width: 1.75rem; }
        p { font-size: 1.5rem; }
    }
    .pdf-btn:hover { box-shadow: none; }
    .resume-card { 
        background: var(--mobile-button-color); 

        img { 
            max-width: 6rem;
            max-height: 6rem;
            margin-right: 2rem; 
        }
        .skills-arrow { margin: 1rem 0 0 0; }
    }
    .resume-card-text {
        h1 { font-size: 1.75rem; }
        p { font-size: 1.5rem; }
    }
    .skill-card { 
        background: var(--mobile-button-color); 

        h1 { font-size: 1.75rem; }
        p {
            margin-top: 0;
            font-size: 1.5rem;
        }
    }
    .course-card { 
        width: 100%;
        background: var(--mobile-button-color); 

        h1 { font-size: 1.75rem; }
        p { font-size: 1.5rem; }
    }
    .resume-card-skills h3 { margin: 1rem 1rem 1rem 0; }
    .rcs p {
        font-size: 1.5rem;
        margin: .75rem .5rem 0 0;
        padding: .5rem 1.25rem;
        border-radius: 2rem;
    }
    

    /* "PROJECTS": TABLETS */
    .all-projs-card { margin-top: 4rem !important; }
    .back-btn { font-size: 1.25rem; }
    .project-detail {
        h1 { font-size: 2.25rem; }
        h2 { font-size: 1.75rem; }
        p { font-size: 1.5rem; }
    }
    .proj-detail-title { 
        width: 100%;
        justify-content: center !important; 
    }
    .project-card {  
        gap: 0;

        h1 { font-size: 1.75rem; }
        p { font-size: 1.5rem; }
        img {
            width: 15rem;
            transform: translate(-6rem, 0);
            scale: 200%;
        }
    }
    
    .proj-info-card {
        background: var(--mobile-button-color);
        p { font-size: 1.5rem; }
        img { width: 100%; }
    }
    .ext-link { 
        background: var(--mobile-button-color); 
        p { font-size: 1.5rem; }
    }
    .ext-link:hover { box-shadow: none; }

    .saf {
        gap: .75rem;

        p {
            font-size: 1.5rem;
            background: var(--mobile-button-color);
        }
    }
    .language p { font-size: 1.5rem; }
}










/* RESPONSIVE DESIGN: MOBILE */ 
/* ---------------------------------------------------------------------- */
@media (max-width: 500px) {

    /* "ALL": MOBILE */
    .hide-on-mobile { display: none; }
    .info-card {
        background: var(--mobile-infocard-color);
        margin: .5rem 0;
        width: 70%;

        p { font-size: 1.5rem; }
        .info-card-label { font-size: 1.25rem; }
        
    }
    .title-card { margin: 4rem .5rem .5rem .5rem; }
    .title-card-left {
        img {
            max-width: 7rem;
        }
        h1 { font-size: 2.25rem; }
        p { white-space: nowrap; }
    }


    /* "NAV": MOBILE */
    #theme-text { white-space: nowrap; }

    .settings-window {
        width: 25rem;

        h1 { font-size: 2.25rem; }
        p { font-size: 1.5rem; }
    }
    .setting-ctnr {
        button { 
            font-size: 1.5rem; 

            img { 
                max-width: 2rem; 
                max-height: 2rem; 
                margin-right: 1rem;
            }
        }
        select { font-size: 1.5rem; }
    }
    .settings-footer {
        p { font-size: 1.5rem; }
    }


    /* "HOME": MOBILE */
    .index-title-text {
        margin: 0 0 0 2rem;

        h1 { font-size: 2.25rem; }
        p { font-size: 1.5rem; }
    }
    .role { font-size: 1.25rem; }
    .index-contact-btn {
        font-size: 1.25rem;
        padding: 1rem;
        border-radius: 1.5rem;

        img { 
            max-width: 2rem; 
            max-height: 2rem; 
            min-width: 2rem; 
            min-height: 2rem; 
        }
        p { margin-left: 0; }
    }


    /* "RESUME": MOBILE */
    .pdf-btn {
        img { max-width: 1.5rem; }
        p { font-size: 1.25rem; }
    }
    .resume-card {
        flex-direction: column;

        img { margin: 0 0 1rem 0; }
        .skills-arrow {
            margin: 0;
            margin-top: 1rem;
        }
    }
    .resume-card-text {
        text-align: center;
        padding: 0;
        h1 { font-size: 1.5rem; }
        p {
            font-size: 1.25rem;
            margin: .25rem 0;
        }
    }
    .resume-card-skills h3 { font-size: 1.25rem; }
    .rcs p {
        font-size: 1.25rem;
        border-radius: 1.75rem;
        margin: .5rem .5rem .5rem 0;
    }
    .skill-card,
    .course-card {
        h1 { font-size: 1.5rem; }
        p { font-size: 1.25rem; }
    }
    

    /* "PROJECTS": MOBILE */
    .project-detail {        
        h1 { font-size: 1.75rem; }
        h2 { font-size: 1.5rem; }
        p { font-size: 1.5rem; }
    }    

    .tooltip h1 { font-size: 1.25rem }

    .project-card {  
        flex-direction: column;

        h1 { font-size: 1.5rem; }
        p { font-size: 1.25rem; }
        img { transform: translate(0, 2.75rem); }
    }
    .project-card:hover {
        img { scale: 200%; }
    }
    .back-btn { font-size: 1.25rem; }

    .ext-link { 
        img { 
            max-width: 2.25rem; 
            max-height: 2.25rem; 
        }
        p { font-size: 1.25rem; }
    }
    .saf p { width: 100%; }
}   