/* FONTS */
/* ------------------------------ */
@font-face {
    font-family: "Poppins-Regular";
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-Medium";
    src: url(assets/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(assets/fonts/Poppins/Poppins-Bold.ttf);
}

/* LINK DECORATION */
/* ------------------------------ */
a:link {
    text-decoration: none;
    color: var(--secondary-color);
}
a:visited {
    text-decoration: none;
    color: var(--secondary-color);
}
a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}
a:active {
    text-decoration: none;
    color: var(--secondary-color);
}

/* COLOR VARS */
/* ------------------------------ */
:root {
    --primary-color: rgb(255,255,255);
    --secondary-color: rgb(0,0,0);
    --accent-color: rgb(96, 81, 254);
    --window-color: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    --nav-color: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    --button-color: linear-gradient(to left top, rgba(255,255,255,0.4), rgba(255,255,255,1.0));
    --button-hvr-color: linear-gradient(to left top, rgba(255,255,255,0.0), rgba(255,255,255,1));
    --card-color: linear-gradient(to left top, rgba(255,255,255,0.6), rgba(255,255,255,0.3)); 
    --infocard-color: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    --resume-card-skills: linear-gradient(to top, rgba(255,255,255, 0.5), rgba(255,255,255, 0.4),rgba(255,255,255, 0));
    --mobile-nav-color: linear-gradient(to right bottom, rgba(255,255,255, 0.5), rgba(255,255,255, 0.3));
    --mobile-infocard-color: rgba(255,255,255, 0.6);
    --mobile-button-color: linear-gradient(to right bottom, rgba(255,255,255, 0.6), rgba(255,255,255, 0.5));
    --mobile-button-hvr-color: linear-gradient(to right bottom, rgba(255,255,255, 0.7),rgba(255,255,255, 0.6));
}
.dark-theme {
    --primary-color: rgb(0,0,0);
    --secondary-color: rgb(255,255,255);
    --accent-color: rgb(96, 81, 254);
    --window-color: linear-gradient(
        to right bottom, 
        rgba(0,0,0, 0.7),
        rgba(0,0,0, 0.6)
    );
    --nav-color: linear-gradient(
        to right bottom, 
        rgba(0,0,0, 0.7),
        rgba(0,0,0, 0.5)
    );
    --button-color: linear-gradient(
        to left top, 
        rgba(0,0,0, 0.6),
        rgba(0,0,0, 1.0)
    );
    --button-hvr-color: linear-gradient(
        to left top, 
        rgba(0,0,0, 0.0),
        rgba(0,0,0, 1)
    );
    --card-color: linear-gradient(
        to left top, 
        rgba(0,0,0, 0.6),
        rgba(0,0,0, 0.3)
    );
    --infocard-color: linear-gradient(
        to right bottom, 
        rgba(0,0,0, 0.7),
        rgba(0,0,0, 0.5)
    );
    --resume-card-skills: linear-gradient(
        to top, 
        rgba(0,0,0, 0.5),
        rgba(0,0,0, 0.4),
        rgba(0,0,0, 0)
    );
    --mobile-nav-color: linear-gradient(
        to right bottom, 
        rgba(0,0,0, 0.7),
        rgba(0,0,0, 0.5)
    );
    --mobile-infocard-color: rgba(0,0,0, 0.7);
    --mobile-button-color: linear-gradient(
        to right bottom, 
        rgba(0,0,0, 0.5),
        rgba(0,0,0, 0.4)
    );
    --mobile-button-hvr-color: linear-gradient(
        to right bottom, 
        rgba(0,0,0, 0.6),
        rgba(0,0,0, 0.5)
    );
}

/* MAIN COMPONENTS */
/* ------------------------------ */
html {
    background-color: var(--accent-color);
    font-family: "Poppins-Regular";
    font-size: 62.5%; /* sets base font size to 10px (easy to use rem sizing) */
}
.bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}
.alert-ctnr {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 5;
}
.copy-message { 
    position: fixed;
    z-index: 5;
    top: -100%;
    transition: top 0.3s;
    padding: 0.5rem 3rem;
    background-color: black;
    color: white;
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 2rem;
}
.copy-message img {
    max-width: 2rem;
    margin-left: 1rem;
}
.copy-message.active {
    top: 1rem;
}
#tooltip {
    display: none;
    position: absolute;
    z-index: 1000;

    background: #242424;
    color: #fff;
    border-radius: 0.5rem;
    margin-left: 28px;
    padding: 10px;
    font-size: 1.25rem;
    margin-bottom: 12rem;
    /* background: linear-gradient(to bottom, #6e6e6e 0%, #242424 100%); */
    /* box-shadow: 0px 0px 6px 2px rgba(110, 110, 110, 1); */
}
.dynamic-window {
    background: var(--window-color);
    position: absolute;
    top: 3rem;
    bottom: 3rem;
    left: 3rem; 
    right: 3rem; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 1400px; /* need a specific value to work */
    max-height: 1400px;
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
    overflow: hidden;
}
.display-right {
    flex: 3; /* ratio to nav bar (1:3) */
    display: flex;
    flex-direction: column;

    color: var(--secondary-color);

    overflow-y: auto;
    -ms-overflow-style: none;  /* hides scroll in IE and Edge */
    scrollbar-width: none;  /* hides scroll in Firefox */

    /* fade animation */
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.display-right::-webkit-scrollbar {
    /* hides scrollbar but keeps function 
        for Chrome, Safari, Opera */
    display: none;
} 
@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.display-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-family: "Poppins-Regular";
    margin-bottom: 5rem;
}
.info-card {
    background: var(--infocard-color);
    width: 80%;
    border-radius: 2rem;
    padding: 2rem 4rem;
    margin: 1rem;
}
.info-card h1 {
    margin-bottom: 1.5rem;
    font-size: 2.25rem;
}
.info-card p {
    opacity: 0.75;
    margin: 1.5rem 0rem;
    font-size: 1.75rem;
}


/* NAV BAR */
/* ------------------------------ */
.nav-menu {
    background: var(--nav-color);
    flex: 1; /* ratio to display window (1:3) */
    display: flex;
    flex-direction: column;
    text-align: center; /*centers buttons horizontally in window */
    overflow: hidden;
    min-height: 8rem;
    border-radius: 2rem;
    padding-top: 3rem;
    position: relative;
}
.menu-button {
    background: var(--button-color);
    color: var(--secondary-color);
    font-family: "Poppins-Regular";
    cursor: pointer;
    margin: 1rem 0rem;
    padding: 0.5rem 3rem;
    width: 80%;
    border-radius: 3rem;
    border: none;
}
.menu-button:hover {
    background: var(--button-hvr-color);
}
.theme-button {
    background: var(--button-color);
    color: var(--secondary-color);
    font-family: "Poppins-Regular";
    cursor: pointer;
    margin: 1rem 0rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 3rem;
    width: 80%;
    border-radius: 3rem;
    border: none;
}
.theme-button:hover {
    background: var(--button-hvr-color);
}
.menu-button-content {
    display: flex;
    align-items: center;
    opacity: 0.8;
}
.menu-button-content:hover {
    opacity: 1;
}
.menu-button-content img {
    max-width: 30px;
    margin-right: 2rem;
}
#active-nav {
    color: var(--accent-color);
}
.bottom-nav-ctnr {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;    
    align-items: center;
    font-size: 1.5rem;
}
#date {
    opacity: 0.5;
    color: var(--secondary-color);
}


/* "HOME" PAGE */
.title-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--infocard-color);
    width: 80%;
    margin: 4rem 1rem 1rem 1rem;
    padding: 2rem 4rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}
.title-card-left {
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title-card-left img {
    max-width: 14rem;
    border-radius: 20rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.3);
}
.title-card-left h1 { /*for non index title cards*/
    font-family: "Poppins-Bold";
    font-size: 4rem;
    opacity: 0.9;
    margin: 0rem;
}
.index-title-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0rem 4rem;

    /* disable dragging + selecting  */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.index-title-text h1 {
    font-family: "Poppins-Bold";
    font-size: 4rem;
    opacity: 0.9;
    margin: 0rem;
}
.index-title-text p {
    color: var(--secondary-color);
    opacity: 0.5;
    font-size: 1.75rem;
    font-weight: 600;
    padding: 0rem;
    margin: 0rem;
}
.title-card-right {
    flex: 1;
    display: flex;
    justify-content: right;
}
.role {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right bottom, rgb(96, 81, 254), rgb(218, 130, 240));
    background-size: 150% 150%;
    animation: gradient 3s ease-in-out infinite;
    color: white;
    font-size: 1.5rem;
    padding: 0rem;
    border-radius: 2rem;
    width: 75%;

    /* disable dragging + selecting  */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.index-card a {
    display: inline;
    font-family: "Poppins-Medium";
    color: var(--accent-color);
}
.index-contact-ctnr {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: var(--infocard-color);
    width: 80%;
    margin: 1rem;
    padding: 2rem 4rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}
.index-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins-Regular";
    font-size: 2rem;
    background: var(--button-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 2rem;
    padding: 0rem 3rem;
    cursor: pointer;
}
.index-contact:hover {
    color: var(--accent-color);
    box-shadow: 0 0 2rem rgba(96, 81, 254, 0.25);
}
.index-contact img {
    max-width: 2.75rem;
    margin: 0;
    opacity: 0.9;
}
.index-contact p {
    margin-left: 1.5rem;
}
/* Tooltips */
.index-contact:hover #tooltip {
    display: block;
}


/* "RESUME" PAGE */
/* Buttons */
.pdf-btn-ctnr {
    display: flex;
}
.pdf-btn {
    background: linear-gradient(to bottom right, #EF4765, #ff79d7);
    border: none;
    border-radius: 1rem;
    margin-left: 1rem;
    padding: 0.75rem 2.5rem;
    cursor: pointer;
}
.pdf-btn img {
    max-width: 2.25rem;
}
.pdf-btn:hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(250, 90, 255, 0.5);
}
.resume-card-btn-ctnr {
    display: flex;
}
.card-btn {
    background: var(--button-color);
    border: none;
    border-radius: 1rem;
    margin-left: 1rem;
    padding: 0.75rem 2.25rem;
    cursor: pointer;
}
.card-btn.active {
    box-shadow: 0 0 2rem rgba(96, 81, 254, 0.4);
}
.card-btn:hover {
    background: var(--button-hvr-color);
}
.card-btn img {
    max-width: 2.25rem !important;
    max-height: 2.25rem !important;
    margin-right: 0 !important;
    opacity: 0.75;
}
/* Tooltips */
.pdf-btn-ctnr:hover #tooltip {
    display: block;
    margin-left: 5rem;
}
/* .card-btn:hover #tooltip {
    display: block;
    margin: 3.5rem 5rem 0 0;
} */
/* Cards */
.resume-card {
    display: flex;
    align-items: center;
    font-family: "Poppins-Regular";
    background: var(--button-color);
    color: var(--secondary-color);
    border-radius: 2rem;
    padding: 2rem 3rem;
    margin: 1.5rem 0rem;
    cursor: pointer;

    /* disable dragging + selecting  */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.resume-card img {
    flex: 1;
    max-width: 10rem;
    max-height: 10rem;
    margin-right: 3rem;
}
.resume-card-text {
    flex: 3;
    display: flex;
    flex-direction: column;
}
.resume-card-text h1 {
    margin: 0;
    font-size: 2rem;
}
.resume-card-text p {
    margin: 0rem 0rem;
    font-size: 1.5rem;
}
/* Resume card skills */
.resume-card-skills {
    display: none;
    flex-flow: wrap;
    translate: 0 -4rem;
    padding: 3rem 3rem 1.5rem 3rem;
    margin-bottom: -4rem;
    background: var(--resume-card-skills);
    border-radius: 0 0 2rem 2rem;
}
.resume-card-skills h3 {
    font-size: 1.5rem;
    margin: 10px 10px 10px 0;
    opacity: 0.8;
}
.rcs {
    display: flex;
    flex-flow: wrap;
}
.rcs p {
    font-size: 1.5rem;
    color: black;
    padding: 0.25rem 1.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 2rem;
    scale: 100%;
    cursor: default;
}
.resume-card-skills p:hover {
    scale: 102%;
    transition: scale 0.2s;
}
#skills-pcg p {
    background: #c3ed9b;
}
#skills-cot p {
    background: #93beff;
    /* color: #33457e; */
}
#skills-aitp p {
    background: #f2b2a8;
    /* color: #692013; */
}
#skills-223 p {
    background: #d6d6d6;
}
#skills-st p {
    background: #faaeff;
}
#skills-pub p {
    background: #73e97d;
}
#skills-tt p {
    background: #93beff;
}
/* Resume card gallery */
.resume-card-gallery {
    display: none;
    flex-direction: column;
    translate: 0 -4rem;
    padding: 3rem 3rem 1rem 3rem;
    margin-bottom: -4rem;
    background: var(--resume-card-skills);
    border-radius: 0 0 2rem 2rem;
}
.resume-card-gallery h3 {
    font-size: 1.5rem;
    margin: 10px 10px 10px 0;
    opacity: 0.8;
}
.card-pics {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-top: 2rem;
}
.card-pics::-webkit-scrollbar { display: none; }
.card-pics img {
    
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    object-fit: cover;
    margin: 0 1rem 1rem 0;
}

/* .divider {
    background-color: var(--secondary-color);
    opacity: 0.1;
    width: 100%;
    height: 2px;
    margin: 1rem 0rem;
} */

/* Skill cards section */
.skill-card-row {
    display: flex;
    flex-direction: row;
}
.skill-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: "Poppins-Regular";
    background: var(--button-color);
    color: var(--secondary-color);
    border-radius: 2rem;
    padding: 2rem 3rem;
    margin: 1rem 0.5rem;

    /* disable dragging + selecting  */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.skill-card h1 {
    margin: 0;
    font-size: 2rem;
}
.skill-card p {
    margin: 0;
    font-size: 1.5rem;
}
.skill-level {
    display: flex;
    align-items: center;
    margin: 1rem 0rem;
}
.skill-bar {
    height: 1rem;
    width: 4rem;
    margin-right: 0.4rem;
}
.filled {
    background-color: var(--accent-color);
}
.filled-pink {
    background-color: #EF4765;
}
.empty {
    background-color: var(--secondary-color);
    opacity: 0.25;
}
.course-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: "Poppins-Regular";
    background: var(--button-color);
    color: var(--secondary-color);
    border-radius: 2rem;
    padding: 2rem 3rem;
    margin: 1rem 0rem;

    /* disable dragging + selecting  */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.course-card h1 {
    margin: 0;
    font-size: 2rem;
}
.course-card p {
    margin: 0;
    font-size: 1.5rem;
}


/* "PROJECTS" PAGE */
.project-card-row {
    display: flex;
    flex-direction: row;
}
.project-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 20rem;
    scale: 100%;
    transition: scale 0.25s;
    
    font-family: "Poppins-Regular";
    border: none;
    border-radius: 2rem;
    padding: 2rem 3rem;
    margin: 1rem 1rem;
    overflow: hidden;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.project-card:hover {
    scale: 102%;
    transition: scale 0.25s;
}
.project-card h1 {
    margin: 0;
    font-size: 2rem;
}
.project-card p {
    margin: 0;
    font-size: 1.5rem;
}
.project-card img {
    width: 40rem;
    margin-top: 2rem;
    transform: translate(-10rem);
    box-shadow: 0rem 0rem 3rem rgba(255, 255, 255, 0.25);
}
.proj-card-lw {
    background-color: var(--accent-color);
    color: white;
}
.proj-card-wn {
    background-color: white;
    color: black;
    cursor: not-allowed;
}
.proj-card-wn img {
    box-shadow: 0rem 0rem 3rem rgba(84, 58, 193, 0.35);
}
.proj-card-iso {
    background-color: rgb(40, 40, 255);
    color: white;
}
.proj-card-he {
    background-color: #faf2e1;
    color: #1c1c1c;
}
.proj-card-he img {
    box-shadow: 0rem 0rem 3rem rgba(255, 193, 99, 0.65);
}
.proj-card-ex {
    background-color: #292929;
    color: white;
    cursor: not-allowed;
}
.proj-card-ex img {
    box-shadow: 0rem 0rem 3rem rgba(162, 242, 99, 0.25);
}
.proj-card-empty {
    opacity: 0;
    max-height: 20rem !important;
    cursor: default;
}
.proj-sub {
    position: absolute;
    background-color: black;
    color: white;
    opacity: 0.9;
    padding: 1rem;
    border-radius: 1rem;
    right: 5%;
    bottom: 5%;
    z-index: 1;

    /* disable dragging + selecting  */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.proj-sub h1 {
    font-size: 1.5rem
}
.back-btn {
    background: linear-gradient(to bottom right, #EF4765, #ff79d7);
    border: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins-Regular";
    font-size: 1.5rem;
    padding: 1rem 2rem;
    text-align: center;
    transition: box-shadow .1s ease-in-out;
    align-items: center;
}
.back-btn:hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(250, 90, 255, 0.5);
}
.carousel-ctnr {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-imgs {
    max-width: 95%;
    margin-top: 2rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.3);
}
.carousel-ctrl {
    display: flex;
    align-items: center;
    font-family: "Poppins-Regular";
    font-size: 1.5rem;
    margin: 0;
    padding: 0;

    /* disable dragging + selecting  */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.carousel-ctrl button {
    background: none;
    background-color: none;
    border: none;
    cursor: pointer;
    margin: 2rem;
    opacity: 0.75;
}
.carousel-ctrl button:hover {
    opacity: 1;
}
.carousel-ctrl img {
    max-width: 2.5rem;
}
.info-card a {
    transition: color 0.2s ease-in-out;
}
.info-card a:hover {
    color: var(--accent-color);
    transition: color 0.2s ease-in-out;
}

.proj-info-card-row {
    display: flex;
    flex-direction: row;
}
.proj-info-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--button-color);
    color: var(--secondary-color);
    border-radius: 2rem;
    padding: 2rem 3rem;
    margin: 1rem 0.5rem;
}
.proj-info-card h1 {
    font-size: 2rem;
}
.proj-info-card p {
    font-size: 1.5rem;
}
.proj-info-card img {
    width: 50%;
    border-radius: 1rem;
}
.proj-img-ctnr {
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 2rem;
}
.half-row {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.half-row h1 {
    margin: 0;
}
.half-row p {
    margin: 2rem 0rem 0.5rem 0rem;
}










/* RESPONSIVE DESIGN: LAPTOPS */
/* ---------------------------------------------------------------------- */
@media (max-width: 1200px) {

    /* ALL: LAPTOPS */
    .dynamic-window {
        flex-direction: column-reverse;
        top: 1.5rem;
        bottom: 1.5rem;
        left: 2rem;
        right: 2rem;
    }
    .title-card-left {
        text-align: center;
    }
    .info-card {
        width: 65%;
        font-size: 1.2rem;

        padding: 2rem 4rem;
        margin: 1rem;
    }
    .info-card h1 {
        font-size: 2rem;
    }
    .info-card p {
        font-size: 1.5rem;
    }


    /* NAV: LAPTOPS */
    .nav-menu {
        flex: 1; /* ratio to display window (1:8) */
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 0rem;
        box-shadow: -20px 0px 30px rgba(122,122,122,0.5);
    }
    .nav-menu form {
        width: 100%;
        margin: 0.5rem; /*space btwn btns */
    }
    .menu-button {
        background: none;
        margin: 0 0.75rem;
        padding: 0; 
        width: 100%;
    }
    .theme-button-ctnr {
        width: 100%;
        min-width: 40px;
        margin: 0 2rem 0 0.5rem; /* space btwn btns */
    }
    .theme-button {
        background: none;
        margin: 0 0.75rem;
        padding: 0;
        width: 100%;
    }
    .menu-button-content {
        flex-direction: column;
        padding: 1rem 0;
    }
    .menu-button-content img {
        max-width: 25px;
        max-height: 25px;
        padding: 0;
        margin-right: 0;
        opacity: 0.75;
    }
    .menu-button-content h2 {
        font-size: 1.25rem;
        margin: 0;
        opacity: 0.6;
    }
    .display-right {
        flex: 8; /* ratio to nav menu (1:8) */
    }
    .bottom-nav-ctnr {
        display: none;
    }
    #active-nav {
        color: var(--secondary-color);
        .menu-button-content img { opacity: 1; }
        .menu-button-content h2 { opacity: 1; }
    }


    /* "HOME": LAPTOPS */
    .index-title-text {
        margin: 0rem 2rem;
    }
    .index-title-text h1 {
        font-size: 3rem;
    }
    .index-title-text p {
        font-size: 1.5rem;
    }
    .index-info-card {
        width: 65%;
        font-size: 1.2rem;
        padding: 2rem 4rem;
        margin: 1rem;
    }
    .title-card {
        flex-direction: column;
        width: 65%;
    }
    .title-card-left img {
        max-width: 10rem;
    }
    .role {
        width: 100%;
        padding: 0rem 4rem;
        margin-top: 2rem;
    }
    .index-contact-ctnr {
        flex-direction: column;
        justify-content: space-evenly;
        background: var(--infocard-color);
        width: 65%;
        padding: 2rem 4rem;
        border-radius: 2rem;
    }
    .index-contact {
        font-size: 1.75rem;
        margin: 0.5rem 0rem;
    }
    .index-contact img {
        margin: 1.5rem 0rem;
    }
    /* Tooltips */
    .index-contact:hover #tooltip {
        display: none;
    }
    

    /* "RESUME": LAPTOPS */
    /* Buttons */
    .pdf-btn-ctnr {
        margin: 1rem 0rem;
        text-align: center;
    }
    .pdf-btn {
        margin-left: 0;
        padding: 0.75rem 3rem;
    }
    .resume-card-btn-ctnr {
        margin-top: 1rem;
        width: 100%;
        justify-content: right;
    }
    .card-btn img {
        margin-bottom: 0 !important;
    }
    /* Tooltips */
    .pdf-btn:hover #tooltip {
        display: none;
    }
    .resume-card {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: "Poppins-Regular";
        background: var(--button-color);
        color: var(--secondary-color);
        border-radius: 2rem;
        padding: 3rem 3rem;
    }
    .resume-card img {
        margin: 0rem 0rem 2rem 0rem;
    }
    .resume-card-text h1 {
        margin: 0rem 0rem 1rem 0rem;
        font-size: 2rem;
    }
    .resume-card-text p {
        margin: 0.5rem 0rem;
        font-size: 1.5rem;
    }
    .skill-card-row {
        flex-direction: column;
    }
    .skill-card {
        padding: 2rem 3rem;
        margin: 0.5rem 0rem;
    }


    /* "PROJECTS": LAPTOPS */
    .proj-sub h1 { font-size: 1.5rem; }
    .project-card-row {
        display: flex;
        flex-direction: column;
    }
    .project-card {        
        margin: 1rem 0rem;
        height: 20px;
    }
    .project-card img {
        width: 65rem;
        margin-top: 2rem;
        transform: translate(-20rem, 0rem);
    }
    .proj-card-empty {
        padding: 0;
    }
    .back-btn {
        margin: 1rem 0rem;
    }
    .carousel-imgs {
        max-width: 100%;
        box-shadow: 6px 6px 20px rgba(122,122,122,0.3);
    }
    .proj-info-card-row {
        flex-direction: column;
    }
    .proj-info-card {
        margin: 0.5rem 0rem;
    }
    .proj-info-card img {
        width: 75%;
    }
}










/* RESPONSIVE DESIGN: TABLETS */ 
/* ---------------------------------------------------------------------- */
@media (max-width: 800px) {

    /* "ALL": TABLETS */
    .dynamic-window {
        background: none;
        border-radius: 0rem;
        top: 0;
        bottom: 0;
        left: 0; 
        right: 0; 
    }
    .title-card-left h1 { /*for non index title cards*/
        font-size: 3rem;
    }
    .info-card {
        margin: 0.5rem 0rem;
        width: 70%;
        background: var(--mobile-infocard-color);
    }
    

    /* "NAV": TABLETS */
    .nav-menu {
        background: var(--mobile-nav-color);
        border-radius: 2rem 2rem 0rem 0rem;
        box-shadow: -20px 0px 30px rgba(100, 100, 100, 0.75);
    }
    .menu-button:hover {
        background: var(--mobile-button-hvr-color);
    }
    .theme-button:hover {
        background: var(--mobile-button-hvr-color);
    }


    /* "HOME": TABLETS */
    .title-card {
        width: 70%;
        background: var(--mobile-infocard-color);
    }
    .title-card-left {
        flex-direction: column;
    }
    .title-card-left img {
        margin-bottom: 1.5rem;
    }
    .index-title-text {
        text-align: center;
    }
    .index-title-text h1 {
        font-size: 3rem;
    }
    .index-title-text p {
        font-size: 1.5rem;
    }
    .index-contact-ctnr {
        width: 70%;
        background: var(--mobile-infocard-color);
    }
    .index-contact {
        background: var(--mobile-button-color);
    }
    .index-contact:hover {
        background: var(--mobile-button-hvr-color);
    }


    /* "RESUME": TABLETS */
    .resume-card {
        background: var(--mobile-button-color);
    }
    .resume-card-btn-ctnr {
        margin-top: 1rem;
        width: 100%;
        justify-content: center;
    }
    .skill-card {
        background: var(--mobile-button-color);
    }
    .course-card {
        background: var(--mobile-button-color);
    }
    .resume-card-skills h3 {
        font-size: 1.25rem;
        margin: 10px 10px 10px 0;
        opacity: 0.8;
    }
    .resume-card-skills p {
        font-size: 1.5rem;
        /* background: rgb(250, 174, 255); */
        color: black;
        padding: 0.25rem 1.25rem;
        margin: 0.75rem 0.5rem 0.75rem 0;
        border-radius: 2rem;
        scale: 100%;
        cursor: default;
    }
    .resume-card-gallery h3 {
        font-size: 1.25rem;
        margin: 10px 10px 10px 0;
    }
    


    /* "PROJECTS": TABLETS */
    .project-card img {
        width: 50rem;
        margin-top: 2rem;
        transform: translate(-15rem, 0rem);
    }
    .proj-info-card {
        background: var(--mobile-button-color);
    }
    .proj-info-card img {
        width: 100%;
    }
}










/* RESPONSIVE DESIGN: MOBILE */ 
/* ---------------------------------------------------------------------- */
@media (max-width: 500px) {

    /* "ALL": MOBILE */
    .title-card-left h1 { /*for non index title cards*/
        font-size: 2.25rem;
    }
    .info-card {
        background: var(--mobile-infocard-color);
        margin: 0.5rem 0rem;
        width: 70%;
    }
    .info-card h1 {
        font-size: 1.5rem;
    }
    .info-card p {
        font-size: 1.25rem;
    }

    /* "NAV": MOBILE */
    #theme-text {
        white-space: nowrap;
    }


    /* "HOME": MOBILE */
    .title-card {
        margin: 4rem 0.5rem 0.5rem 0.5rem;
    }
    .index-title-text h1 {
        font-size: 2.25rem;
    }
    .index-title-text p {
        font-size: 1.25rem;
    }
    .role {
        font-size: 1.25rem;
        width: 100%;
    }
    .index-contact-ctnr {
        margin: 0.5rem 0rem;
    }
    .index-contact {
        font-size: 1.25rem;
    }
    .index-contact img {
        max-width: 2rem;
    }
    .index-contact p {
        margin-left: 1rem;
    }


    /* "RESUME": MOBILE */
    .pdf-btn img {
        max-width: 2rem;
    }
    .resume-card img {
        max-width: 8rem;
        max-height: 8rem;
    }
    .pdf-btn-ctnr {
        margin-top: 1rem;
    }
    


    /* "PROJECTS": MOBILE */
    .tooltip h1 {
        font-size: 1.25rem
    }
    .project-card img {
        width: 50rem;
        margin-top: 2rem;
        transform: translate(-35rem, 0rem);
        /* display: none; */
    }
    .back-btn {
        font-size: 1.25rem;
        margin: 1rem 0rem 0rem 0rem;
    }
}   