
/* SCREEN WIDTH: DESKTOPS/TVS */
.bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}

.dynamic-window {
    background: var(--window-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0; 
    display: flex;
    overflow: hidden;
}

/* Navigation */
app-navigation { width: 100%; }

.nav-menu {
    background: var(--nav-color);
    flex: 1; /* ratio to display right (1:4) */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    min-width: 10rem;
    min-height: 8rem;
    border-radius: 0 2rem 2rem 0;
    padding-top: 3rem;
    position: relative;
    transition: flex 0.2s ease;
}

.nav-menu.collapsed {
    flex: 0.25 !important;
    transition: flex 0.2s ease;
}

/* Body content */
.display-right {
    flex: 4; /* ratio to nav bar (1:4) */
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
    overflow-y: auto;
    -ms-overflow-style: none;  /* hides scroll in IE and Edge */
    scrollbar-width: none;  /* hides scroll in Firefox */

    /* fade animation */
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.display-right::-webkit-scrollbar { display: none; }    /* hides scrollbar but keeps function for Chrome, Safari, Opera */


/* Settings */
app-settings { width: 100%; }

.settings-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 35rem;
    height: 100%;
    background: var(--settings-window-color);
    color: var(--secondary-color);
    padding: 2rem 4rem;
    z-index: 3;
    animation: openSettings 0.5s;
}





/* SCREEN WIDTH: LAPTOPS */
@media (max-width: 1200px) {    
    .display-right { flex: 8; } /* ratio to nav menu (1:8) */
    .settings-menu { width: 30rem; }
}





/* SCREEN WIDTH: TABLETS */
@media (max-width: 800px) {     
    .dynamic-window {
        flex-direction: column-reverse;
        border-radius: 0;
        top: 0;
        bottom: 0;
        left: 0; 
        right: 0; 
    }

    .nav-menu {
        flex: 1; /* ratio to display window (1:8) */
        justify-content: center;
        background: var(--mobile-nav-color);
        border-radius: 2rem 2rem 0 0;
        box-shadow: -20px 0px 30px rgba(100, 100, 100, 0.75);
        padding-top: 0;
    }

    .settings-menu {
        border-radius: 2rem 0 0 2rem;
        height: 95%;
    }
}





/* SCREEN WIDTH: MOBILE */
@media (max-width: 500px) {     
    .settings-menu { width: 25rem; }
}