<!-- <div class="alert-ctnr">
    <div class="copy-message">
        <p>Email copied to clipboard</p>
        <img src="assets/icons/index-icons/check.svg" draggable="false">
    </div>
</div> -->

<div class="display-body">
    <!-- Title card -->
    <div class="title-card index-title-card scroll-hidden">
        <div class="index-title-card-left">
            <div class="name-and-photo">
                <img src="assets/headshot-min.jpg" class="hide-on-tablet" draggable="false">
                <h1>Logan Wiggins</h1>
            </div>
            <div class="index-tags">
                <div>
                    <img src="../../../assets/icons/index-icons/briefcase.svg" draggable="false">
                    <p>Software Engineer</p>
                </div>
                <div>
                    <img src="assets/icons/index-icons/location.svg" draggable="false">
                    <p>Deerfield Beach, FL</p>
                </div>
            </div>
        </div>
        <div class="index-title-card-right">
            <button class="contact-btn" value="loganmwiggins1@gmail.com" (click)="copyEmail()">
                <span id="tooltip">Copy email</span>
                <img src="assets/icons/index-icons/mail.svg" id="emailIcon" draggable="false">
            </button>
            <button class="contact-btn" (click)="openLinkedin()">
                <span id="tooltip">Open LinkedIn</span>
                <img src="assets/icons/index-icons/linkedin.svg" id="linkedinIcon" draggable="false">
            </button>
            <button class="contact-btn" (click)="openGitHub()">
                <span id="tooltip">Open GitHub</span>
                <img src="assets/icons/index-icons/github.svg" id="githubIcon" draggable="false">
            </button>
            <button class="contact-btn" (click)="openYouTube()">
                <span id="tooltip">Open YouTube</span>
                <img src="assets/icons/index-icons/youtube.svg" id="youtubeIcon" draggable="false">
            </button>
        </div>
    </div>

    <!-- Welcome -->
    <div class="info-card scroll-hidden">
        <p class="info-card-label">Welcome</p>
        <p>
            As a driven entry-level software developer, I am committed to advancing my expertise in programming
            and in leadership. Through a blend of hands-on job and internship experiences, university coursework,
            and personal projects, I have continually strove to expand my skill set and achieve my career aspirations.
            Feel free to explore my website to learn more about my professional journey and my impactful projects.
        </p>
    </div>

    <!-- About Me -->
    <div class="info-card scroll-hidden">
        <p class="info-card-label">About Me</p>
        <p>
            I am a recent graduate of Florida State University, holding a Bachelor of Science degree in Information
            Technology with a minor in Computer Science. Having completed my studies, I am eager to continue to apply
            my skills and knowledge in software development to real-world challenges and opportunities. Throughout my
            time at FSU, I honed my professional skills through internships, jobs, coursework, and personal projects,
            preparing myself for a successful career in software development and engineering. I am passionate about
            leveraging technology to drive innovation and create impactful solutions. In my new role as a software 
            engineer at JM Family Enterprises on the Southeast Toyota Finance team, I am beyond excited to explore
            new opportunities and contribute to the professional world with enthusiasm and dedication.
        </p>
    </div>
</div>