<div class="display-body">
    <div class="title-card scroll-hidden">
        <div class="title-card-right proj-detail-title">
            <button class="back-btn" routerLink="/projects">
                <img src="assets/icons/project-icons/back-white.svg" draggable="false">
                All Projects
            </button>
        </div>
    </div>

    <!-- Background -->
    <div class="info-card project-detail scroll-hidden">
        <div class="proj-detail-head">
            <h1>Hold Everything of Florida</h1>
        </div>
        <p>
            The goal of this project was to design and develop a website for my client,
            Hold Everything of Florida, Inc. I chose a minimal design with refined aesthetics, and I believe the final
            product well suits their company.
        </p>
        <div class="ext-links-row">
            <div class="ext-link" (click)="openHEsite()">
                <img src="assets/icons/project-icons/external-circle-grey.svg" draggable="false">
                <p class="hide-on-tablet">Open</p>
            </div>
        </div>
    </div>

    <!-- Mockup -->
    <div class="info-card scroll-hidden">
        <img src="assets/images/project-mockups/he-mockup-min.png" draggable="false" class="proj-mockup">
    </div>

    <!-- Background -->
    <div class="info-card scroll-hidden">
        <div class="proj-info-divider">
            <div>
                <p class="info-card-label">Project Type</p>
                <p>Client Web Development</p>
            </div>
            <div>
                <p class="info-card-label">Role</p>
                <p>Sole Developer</p>
            </div>
            <div>
                <p class="info-card-label">Last Updated</p>
                <p>July 2023</p>
            </div>
        </div>
    </div>

    <!-- Goals & Requirements -->
    <div class="info-card scroll-hidden">
        <p class="info-card-label">Goals & Requirements</p>
        <div class="goal-ctnr">
            <div class="goal-num"><p>1</p></div>
            <div class="goal-text">
                <h1>Image Gallery</h1>
                <p>
                    The client's main request was for an image gallery to showcase their portfolio of work. 
                    Separating images into service categories was also important for the gallery feature.
                </p>
            </div>
        </div>
        <div class="goal-ctnr">
            <div class="goal-num"><p>2</p></div>
            <div class="goal-text">
                <h1>Professional User Interface</h1>
                <p>
                    The client did not have any direct specifications when it came to the UI for the website.
                    My goal here was to create a design that was professional and complemented their area of business.
                    Also, with a generally older audience, creating a minimal and straightforward design was important for
                    the site's usability. 
                </p>
            </div>
        </div>
    </div>

    <!-- Languages Used -->
    <div class="info-card scroll-hidden">
        <p class="info-card-label">Languages Used</p>
        <div class="lang-bar">
            <div 
                style="width: 72.4%; 
                background-color: #6051fe;
                border-radius: 2rem 0 0 2rem;"
            ></div>
            <div 
                style="width: 21.1%; 
                background-color: #47aeeb;"
            ></div>
            <div 
                style="width: 6.5%; 
                background-color: #ef4765;
                border-radius: 0 2rem 2rem 0;"
            ></div>
        </div>
        <div class="languages-ctnr">
            <div class="language">
                <div class="lang-indicator" style="background-color: #6051fe;"></div>
                <p>HTML (72.4%)</p>
            </div>
            <div class="language">
                <div class="lang-indicator" style="background-color: #47aeeb;"></div>
                <p>CSS (21.1%)</p>
            </div>
            <div class="language">
                <div class="lang-indicator" style="background-color: #ef4765;"></div>
                <p>JavaScript (6.5%)</p>
            </div>
        </div>
    </div>

    <!-- Skills & Features -->
    <div class="info-card scroll-hidden">
        <p class="info-card-label">Skills & Features</p>
        <div class="saf">
            <p>UI / UX design</p>  
            <p>Responsive image carousel</p>          
            <p>Mobile hamburger nav menu</p>
            <p>CSS media queries (responsive design)</p>
            <p>CSS animation</p>
            <p>Anchor tag navigation</p>
            <p>Website optimization</p>
            <p>Delivering a website to a client on a deadline</p>
            <p>Client consultation skills</p>
        </div>
    </div>
</div>