.proj-detail-title { justify-content: left !important; }
.project-detail { 
    padding: 3rem 4rem; 

    h1 { 
        margin: 0; 
        margin-right: 2rem;
        font-size: 2.5rem;
    }
    h2 { 
        margin: 0; 
        font-size: 2rem;
    }
    p {
        opacity: 1;
        font-size: 1.75rem;
        margin-bottom: 0;
    }
}
.proj-detail-head {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.ext-links-row {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
    margin-top: 2rem;

    /* disable dragging + selecting  */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.ext-link {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    background: var(--button-color);
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    cursor: pointer;

    img { 
        width: 2.5rem;
        height: 2.5rem;
    }
    p { 
        font-size: 1.5rem; 
        margin: 0;
        opacity: 1;
    }
}
.ext-link:hover { box-shadow: 0 0 2rem rgba(96, 81, 254, 0.25); }
.proj-mockup { width: 100%; }
.goal-ctnr {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;

    h1 {
        font-size: 2rem;
        margin: 0;
    }
    p {
        font-size: 1.75rem;
        margin: 0;
    }
    .goal-num {
        background: var(--button-color);
        padding: .5rem 1.5rem;
        border-radius: 100%;
    }
}
.goal-ctnr:last-child { margin-bottom: 1.5rem; }
.lang-bar {
    display: flex;
    width: 100%;
    height: 1rem;
    background-color: grey;
    border-radius: 2rem;
}
.languages-ctnr {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    margin: 1rem 0;
    cursor: default;
}
.language {
    display: flex;
    align-items: center;
    margin-right: 2.5rem;

    p { 
        margin: 0; 
        font-size: 1.75rem;
        opacity: 1;
    }
}
.lang-indicator {
    width: 12px;
    height: 12px;
    border-radius: 10rem;
    margin-right: .5rem;
}
.project-card-row {
    display: flex;
    flex-direction: row;
}
.project-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 20rem;
    font-family: "Poppins-Regular";
    border: none;
    border-radius: 1.5rem;
    padding: 2rem 3rem;
    margin: 1rem;
    overflow: hidden;
    box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;

    h1 {
        margin: 0;
        font-size: 2rem;
        transition: scale .25s;
    }
    p {
        margin: 0;
        font-size: 1.5rem;
        transition: scale .25s;
    }
    img {
        width: 40rem;
        margin-top: 2rem;
        transform: translate(-10rem);
        box-shadow: 0 0 3rem rgba(255, 255, 255, 0.25);
        transition: scale .25s;
    }
}
.project-card:hover {
    h1 { scale: 105%; transition: scale .25s; }
    p { scale: 105%; transition: scale .25s; }
    img { scale: 105%; transition: scale .25s; }
}
.gd-img {
    margin-top: 0 !important;
    transform: translate(20rem, -8rem) !important;
    width: 20rem !important;
}
.proj-card-lw {
    background-color: var(--accent-color);
    color: white;
}
.proj-card-wn {
    background-color: white;
    color: black;
    cursor: not-allowed;
    img { box-shadow: 0 0 3rem rgba(84, 58, 193, 0.35); }
}
.proj-card-iso {
    background-color: rgb(40, 40, 255);
    background-color: white;
    color: black;
    img { box-shadow: 0 0 3rem rgba(40, 40, 255, 0.35); }
}
.proj-card-he {
    background-color: #faf2e1;
    color: #1c1c1c;
    img { box-shadow: 0 0 3rem rgba(255, 193, 99, 0.65); }
}
.proj-card-ic {
    background-color: #fa3768;
    color: white;
    img { box-shadow: 0 0 3rem rgba(255, 255, 255, 0.5); }
}
.proj-sub {
    position: absolute;
    background-color: black;
    color: white;
    opacity: 0.9;
    padding: 1rem;
    border-radius: 1rem;
    right: 5%;
    bottom: 5%;
    z-index: 1;

    /* disable dragging + selecting  */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    h1 { font-size: 1.5rem }
}
.back-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(to bottom right, #EF4765, #ff79d7);
    border: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    font-family: "Poppins-Regular";
    font-size: 1.5rem;
    padding: 1rem 2rem;
    text-align: center;
    transition: box-shadow .1s ease-in-out;

    img { width: 2rem; height: 2rem; }
}
.back-btn:hover { box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(250, 90, 255, 0.5); }

.proj-info-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
    border-radius: 2rem;

    p {
        font-size: 1.75rem;
        margin: 0;
    }
}
.proj-img-ctnr {
    align-items: start;
    margin: 1.5rem 0;

    img {
        width: 30%;
        border-radius: 1rem;
    }
}

.saf {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 1.5rem;
    gap: 1rem;
    cursor: default;

    p {
        background: var(--button-color);
        color: var(--secondary-color);
        font-size: 1.75rem;
        border-radius: 1.5rem;
        margin: 0;
        padding: 1rem 2rem;
        opacity: 1; 
    }
}

.proj-info-divider {
    display: flex;
    align-items: center;
    gap: 2rem;

    div {
        flex: 1;
        background: var(--button-color);
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center;
        border-radius: 1.5rem;
        padding: 1rem 2rem;
        cursor: default;
    }
    .info-card-label, p { margin: 0; }
    p { font-size: 1.75rem; }
}





/* SCREEN WIDTH: LAPTOPS */
@media (max-width: 1200px) {    
    .project-detail { 
        padding: 3rem 4rem; 

        h1 { font-size: 2.5rem; }
        h2 { font-size: 2rem; }
        p { font-size: 1.75rem; }
    }
    .proj-detail-title { 
        width: 100%;
        justify-content: left !important; 
    }
    .ext-link {
        p { font-size: 1.5rem; }
    }
    .proj-sub h1 { font-size: 1.5rem; }
    .project-card-row {
        display: flex;
        flex-direction: column;
    }
    .project-card {  
        flex-direction: row-reverse;
        align-items: center;
        gap: 10rem;
        margin: 1rem 0;

        .project-card-text { width: 100%; }
        p { font-size: 1.5rem; }
        img {
            width: 15rem;
            margin-top: 0;
            transform: translate(0, 0);
            scale: 175%;
        }
    }
    .gd-img {
        margin-top: 0 !important;
        transform: translate(0) !important;
        width: 20rem !important;
    }
    .proj-card-empty { padding: 0; }
    .proj-info-card p { font-size: 1.75rem; } 
    .proj-img-ctnr {
        img { width: 75%; }
    }
    .saf p { font-size: 1.75rem; }
    .language p { font-size: 1.75rem; }

    .proj-info-divider {
        flex-direction: column;
        gap: 1rem;
    
        div {
            width: 100%;
            background: var(--button-color);
        }
        p { font-size: 1.75rem; }
    }

    .goal-ctnr {
        gap: 2rem;
        margin-bottom: 2rem;
    
        h1 { font-size: 2rem; }
        p { font-size: 1.75rem; }
        .goal-num { background: var(--button-color); }
    }
}





/* SCREEN WIDTH: TABLETS */
@media (max-width: 800px) {     
    .all-projs-card { margin-top: 4rem !important; }
    .back-btn { font-size: 1.25rem; }
    .project-detail {
        h1 { font-size: 2.25rem; }
        h2 { font-size: 1.75rem; }
        p { font-size: 1.5rem; }
    }
    .proj-detail-title { 
        width: 100%;
        justify-content: center !important; 
    }
    .project-card {  
        gap: 0;

        h1 { font-size: 1.75rem; }
        p { font-size: 1.5rem; }
        img {
            width: 15rem;
            transform: translate(-6rem, 0);
            scale: 200%;
        }
    }
    
    .proj-info-card p { font-size: 1.5rem; }
    .proj-img-ctnr {
        img { width: 75%; }
    }
    .ext-link { 
        background: var(--mobile-button-color); 
        p { font-size: 1.5rem; }
    }
    .ext-link:hover { box-shadow: none; }

    .saf {
        gap: .75rem;

        p {
            font-size: 1.5rem;
            background: var(--mobile-button-color);
        }
    }
    .language p { font-size: 1.5rem; }

    .proj-info-divider {
        gap: .75rem;

        div { background: var(--mobile-button-color); }
        p { font-size: 1.5rem; }
    }

    .goal-ctnr {
        margin-bottom: 1.5rem;
    
        h1 { font-size: 1.75rem; }
        p { font-size: 1.5rem; }
        .goal-num { padding: .65rem 1.5rem; }
    }
}





/* SCREEN WIDTH: MOBILE */
@media (max-width: 500px) {     
    .project-detail {        
        h1 { font-size: 1.75rem; }
        h2 { font-size: 1.5rem; }
        p { font-size: 1.5rem; }
    }    

    .project-card {  
        flex-direction: column;

        h1 { font-size: 1.5rem; }
        p { font-size: 1.25rem; }
        img { transform: translate(0, 2.75rem); }
    }
    .project-card:hover {
        img { scale: 200%; }
    }
    .back-btn {
        font-size: 1.25rem;
        img { width: 1.5rem; height: 1.5rem; }
    }

    .ext-link { 
        img { 
            width: 2.25rem; 
            height: 2.25rem; 
        }
    }
    .saf p { width: 100%; }

    .proj-info-divider p { font-size: 1.5rem; }

    .goal-ctnr {
        gap: .5rem;
        margin-bottom: 2rem;
        flex-direction: column;
        align-items: start;

        h1 { font-size: 1.5rem; }
        p { font-size: 1.5rem; }
    }

    .proj-img-ctnr {
        align-items: center;
        img { width: 100%; }
    }
}