.settings-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* position: absolute;
    top: 0;
    right: 0;
    width: 35rem;
    height: 100%;
    background: var(--settings-window-color);
    color: var(--secondary-color);
    padding: 2rem 4rem;
    z-index: 3;
    animation: openSettings 0.5s; */
}

.settings-content {
    width: 100%;
    display: flex;
    flex-direction: column;

    h1 { 
        font-size: 2.5rem; 
        margin: 0;
    }
    p { 
        font-size: 1.75rem; 
        margin: 0;
        margin-bottom: .25rem;
        opacity: .8;
    }
}
.settings-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid var(--secondary-color);
    border-radius: 50rem;
    padding: 0 1rem;
    cursor: pointer;
}
.setting-ctnr { 
    margin: 3rem 0; 

    button {
        display: flex;
        align-items: center;
        background: var(--primary-color);
        color: var(--secondary-color);
        text-align: left;
        width: 100%;
        padding: 1rem 1.5rem;
        border: 1px solid grey;
        border-radius: 1rem;
        font-size: 1.75rem;
        font-family: "Poppins-Regular";
        cursor: pointer;

        img { 
            width: 2.25rem; 
            height: 2.25rem; 
            margin-right: 1rem;
            opacity: .8;
        }
    }
    select {
        background: var(--primary-color);
        color: var(--secondary-color);
        width: 100%;
        padding: 1rem 1.5rem;
        border: 1px solid grey;
        border-radius: 1rem;
        outline: none;
        font-size: 1.75rem;
        font-family: "Poppins-Regular";
        cursor: pointer;
        -webkit-appearance: none;   /* fixes dropdown stying on iOS */
    }
}
.setting-row {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    img { 
        width: 2.25rem; 
        height: 2.25rem; 
        margin-right: 1rem;
        opacity: .8;
    }
}

#theme-text { white-space: nowrap; }





/* SCREEN WIDTH: LAPTOPS */
@media (max-width: 1200px) {  
    .settings-content {
        h1 { font-size: 2.5rem; }
        p { font-size: 1.75rem; }
    }  
    .setting-ctnr {
        button { 
            font-size: 1.75rem; 

            img { 
                width: 2.25rem; 
                height: 2.25rem; 
                margin-right: 1rem;
            }
        }
        select { font-size: 1.75rem; }
    }
}





/* SCREEN WIDTH: TABLETS */
@media (max-width: 800px) {     
    .setting-ctnr {
        button { 
            font-size: 1.75rem; 

            img { 
                width: 2.25rem; 
                height: 2.25rem; 
                margin-right: 1rem;
            }
        }
        select { font-size: 1.75rem; }
    }
}





/* SCREEN WIDTH: MOBILE */
@media (max-width: 500px) {     
    #theme-text { white-space: nowrap; }

    .settings-content {
        h1 { font-size: 2.25rem; }
        p { font-size: 1.5rem; }
    }
    
    .setting-ctnr {
        button { 
            font-size: 1.5rem; 

            img { 
                width: 2rem; 
                height: 2rem; 
                margin-right: 1rem;
            }
        }
        select { font-size: 1.5rem; }
    }
}