<div class="display-body">
    <!-- Title card -->
    <div class="title-card scroll-hidden hide-on-tablet">
        <div class="title-card-left">
            <h1>Projects</h1>
        </div>
    </div>

    <!-- Web Development card -->
    <div class="info-card all-projs-card scroll-hidden">
        <p class="info-card-label">Web Development</p>
        <div class="project-card-row">
            <!-- Logan Wiggins -->
            <button class="project-card proj-card-lw" routerLink="/projects/loganwiggins">
                <div class="project-card-text">
                    <h1>Logan Wiggins Portfolio</h1>
                    <p>Personal resume website</p>
                </div>
                <img src="assets/images/web-loganwiggins-min.png" draggable="false">
            </button>
            <!-- IntConvert -->
            <button class="project-card proj-card-ic" routerLink="/projects/intconvert">
                <div class="project-card-text">
                    <h1>IntConvert</h1>
                    <p>Integer conversion application</p>
                </div>
                <img src="assets/images/web-intconvert-min.png" draggable="false">
            </button>
        </div>

        <div class="project-card-row">
            <!-- Hold Everything -->
            <button class="project-card proj-card-he" routerLink="/projects/holdeverything">
                <div class="project-card-text">
                    <h1>Hold Everything of Florida</h1>
                    <p>Client web development</p>
                </div>
                <img src="assets/images/web-holdeverything-min.png" draggable="false">
            </button>
            <!-- InduServ -->
            <button class="project-card proj-card-iso" routerLink="/projects/induserv">
                <div class="project-card-text">
                    <h1>InduServ Online</h1>
                    <p>Client web development</p>
                </div>
                <img src="assets/images/web-induserv-min.png" draggable="false">
            </button>
        </div>
    </div>
</div>